

gif{
    width: 35%;
    height: 250px;
    position: fixed
    
}
    
body{
    text-align:center;
    font-family:"Comic Sans MS";
    color: #ff3333;
    min-height:100%;
    background-color: #3366ff
}
html{
    min-height:100%;
    
}
iframe{
    float:right;
}